<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="JPay_Tests_Version_0001">

	<listeners>
		<listener class-name="jpay.utilities.ExtentReport"/>
	</listeners>

	<test name="JPay Facility Tests">

		<parameter name="facilityURL" value=""></parameter>
		<parameter name="userName" value=""></parameter>
		<parameter name="pinCode" value=""></parameter>
		<parameter name="userPassword" value=""></parameter>
		<parameter name="inmateID" value=""></parameter>
		<parameter name="inmateFullName" value=""></parameter>
		<parameter name="customerFirstName" value=""></parameter>
		<parameter name="customerLastName" value=""></parameter>
		<parameter name="customerFullName" value=""></parameter>
		<parameter name="accountID" value=""></parameter>
		<parameter name="batchNumber" value=""></parameter>
		<parameter name="referenceNumber" value=""></parameter>
		<parameter name="transactionNumber" value=""></parameter>
		<parameter name="userFacility2" value=""></parameter>
		<parameter name="facilityPassword2" value=""></parameter>
		<!--<parameter name="userPassword" value="%amfm4"></parameter>
		<parameter name="userPassword" value="#!Holidays20!9!!"></parameter>-->

		<classes>
			<class name="jpay.testcases.facility.LoginPage"></class>
			<class name="jpay.testcases.facility.MoneyPage"></class>

			
		</classes>
		
	</test>
</suite>
